third_party/OpenCV*
third_party/opencv*
*.swp
obj/
!./jni/opencv/*
*.bin
/travis-ci/android-ndk
libs/

# Sublime text files
*.sublime-project
*.sublime-workspace

# dlib build folders
built-dlib/
dlib-so/
